{% extends 'base.html' %}

{% block content %}
<h1> Thread search key word
     <p style="color:red">{{ request.GET.q }}</p>
</h1>


{% for i in object_list %}

<p>{{ i.id }} | <a href="{% url 'forum:thread_detail_view' id=i.id %}">{{ i.title}} </a> | {{ i.created_at}} | {{i.sub_forum_id}}</p>
        {% empty %}
        <div class="container-fluid">
            <h3> No post found having searched query q = "{{ request.GET.q }}" </h3>
        </div>
{% endfor %}

<ul class="pagination">
    {% if object_list.has_previous %}
        <li class="page-item"> <a href="?page={{object_list.previous_page_number}}" class="page-link">&laquo;</a> </li>
    {% endif %}


    {% for i in object_list.paginator.page_range %}
        {% if object_list.number == i %}
        <li class="page-item active"> <a class="page-link" href="?page={{ i }}">{{i}}</a> </li>

        {% else %}
        <li class="page-item"> <a class="page-link" href="?page={{ i }}">{{i}}</a> </li>
        {% endif %}
    {% endfor %}

    {% if object_list.has_next %}
    <li class="page-item"> <a href="?page={{object_list.next_page_number}}" class="page-link">&raquo;</a> </li>
    {% endif %}
</ul>
{% endblock %}

