{% extends 'base.html' %}

{% block content %}
<h1> Thead Detail</h1>
<h1> Thread name {{ object_list.name }} </h1>

{% for instance in object_list %}
<p>
    <h2>{{instance.id }}</h2>
    {{instance.user_id }}
    {{ instance.title }}
    {{instance.title }}
    {{instance.content }}
    {{instance.created_at }}
    {{instance.sub_forum_id }}
</p>
{% endfor %}
<h1> posts</h1>
{% for instance in post %}
<p>
    <h3>{{instance.content }} </h3>
    <p>{{instance.user_id }} : {{instance.parent_id }}</p>
    <p>{{instance.thread_id }} : {{instance.created_at }} </p>

</p>

{% endfor %}








<!-- {% if title != None and title != '' %}
{{ title }}
{% else %}
No title
{% endif %} -->
{% endblock %}
