{% extends 'base.html' %}

{% block content %}
<h1> Thead Detail</h1>
{% include 'forum/thread_alert.html' %}

<h1> Thread name
    {% for i in object_list %}
    {{ i.title }}
    {% endfor %}
</h1>

{% if request.user.is_authenticated %}
<div class='section-1'>

    {% for i in object_list %}
    <a href="{% url 'forum:thread_edit_view' id=i.id %}"> {{ i.id}}
        <button type="button" value='Edit' class="btn btn-outline-success">Edit</button>
    </a>
    <a href="{% url 'forum:thread_delete_view' id=i.id %}">
        <button type="button" value='Delete' class="btn btn-outline-success" id='deletebutton'>Delete</button>
    </a>
    {% endfor %}

</div>
{% endif %}

<br>

{% for instance in object_list %}
<p>
    <h3> All details of thread</h3>
    {{ instance.user_id }} |
    {{ instance.title }} |
    {{ instance.content }} |
    {{ instance.created_at }} |
    {{ instance.sub_forum_id }}
</p>
{% endfor %}

<h1> posts</h1>
{{ post.count }} Post/Comment {{ post|pluralize}}
<div class="main-comment-section" </div> <div class="container-fluid mt-2">
    {% for instance in post %}
    <div class="form-group row">
        <p>
            {% if instance.parent_id == None %}
            <blockquote class="blockquote">
                <p class="mb-0">Comment {{instance.id }} to thread {{instance.thread_id.id }} </p>
                <p>{{ instance.content }} :{{instance.user_id|capfirst }} </p>
                <p>{{instance.thread_id }} : {{instance.created_at }} : {{ instance.parent_id}} </p>
                <footer class="blockquote-footer"> <cite title="source title">{{instance.user_id|capfirst }}</cite>
                        {% if request.user.is_authenticated %}
                        <a
                            href="{% url 'forum:post_reply_view' thread_id=instance.thread_id.id parent_id=instance.id %}">
                            {{ instance.id}}
                            <button type="button" value='Reply' class="btn btn-outline-success">Reply</button>
                        </a>
                        {% endif %}
                </footer>
            </blockquote>
            {% endif %}
    </div>
    <div class="replied-comments container mt-2">
        <div class="form-group row">
            {% for replies in instance.parent.all %}
            <blockquote class="blockquote">
                <p class="mb-0">Reply {{replies.id }} to {{replies.parent_id.id }} </p>
                <p>{{ replies.content }} :{{replies.user_id|capfirst }} </p>
                <p>{{replies.thread_id }} : {{replies.created_at }} </p>
                <footer class="blockquote-footer"> <cite title="source title"> {{replies.user_id|capfirst }}</cite>
                        {% if request.user.is_authenticated %}
                        <a
                            href="{% url 'forum:post_reply_view' thread_id=instance.thread_id.id parent_id=replies.id %}">
                            {{ replies.id}}
                            <button type="button" value='Reply' class="btn btn-outline-success">Reply</button>
                        </a>
                        {% endif %}
                </footer>
            </blockquote>
            {% endfor %}
        </div>
    </div>
    </p>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<h2>Add New comment </h2>
<form method='POST' >
    {% csrf_token %}
    {{ post_comment.as_p }}
    <input type='submit' value='Add New Comment' class="btn btn-outline-success" />
</form>
{% else %}

<p> Please login before adding a new comment</p>

{% endif %}

<!-- {% if title != None and title != '' %}
{{ title }}
{% else %}
No title
{% endif %} -->
{% endblock %}