{% extends 'base.html' %}

{% block content %}
{% include 'forum/thread_alert.html' %}

{% if request.user.is_authenticated %}
{% endif %}

<br>

{% for instance in object_list %}
    <h1 style="font-weight: bold">"{{ instance.title }}"
    {% if request.user == instance.user_id %}
    <a href="{% url 'simpleforum:thread_edit_view' id=instance.id %}">
        <button type="button" value='Edit' class="btn btn-outline-success" id='editbutton'>Edit</button>
    </a>
    <a href="{% url 'simpleforum:thread_delete_view' id=instance.id %}">
        <button type="button" value='Delete' class="btn btn-outline-success" id='deletebutton'>Delete</button>
    </a>
    {% endif %}</h1>
    <p>
        Created by {{ instance.user_id }} at {{ instance.updated_at }} Sub Forum : {{ instance.sub_forum_id.slug }}
    </p>
{% endfor %}

<h1> Posts</h1>
{% if post.count == 0 %}
No post yet
{% else %}
{{ post.count }} Post/Comment {{ post.count|pluralize }}

<div class="main-comment-section" </div> <div class="container-fluid mt-2">
    {% for instance in post %}
    <div class="form-group row">
            {% if instance.parent_id == None %}
            <blockquote class="blockquote">
            <p>
                <p class="mb-2">Comment #{{ instance.id }} to thread #{{ instance.thread_id.id }} </p>
                <p>{{ instance.content }} </p>
                <!-- <p>{{ instance.thread_id }} : {{ instance.created_at }} : {{ instance.parent_id }} </p> -->
                <footer class="blockquote-footer"> <cite title="source title">{{ instance.user_id|capfirst }}</cite>
                        {% if request.user.is_authenticated %}
                        <a
                            href="{% url 'simpleforum:post_reply_view' thread_id=instance.thread_id.id parent_id=instance.id %}">
                            <button type="button" value='Reply' class="btn btn-outline-success">Reply</button>
                        </a>
                        {% endif %}
                </footer>
            </p>
            </blockquote>
            {% endif %}
    </div>

    {% for replies in instance.parent.all %}
    <div class="replied-comments container mt-1">
        <div class="form-group row">
            <blockquote class="blockquote">
                <small>
                <p class="mb-2">Reply #{{ replies.id }} to #{{ replies.parent_id.id }} </p>
                <p>{{ replies.content }} </p>
                <!-- <p>{{ replies.thread_id }} : {{ replies.created_at }} </p> -->
                <footer class="blockquote-footer"> <cite title="source title"> {{ replies.user_id|capfirst }}</cite>
                        {% if request.user.is_authenticated %}
                        <a
                            href="{% url 'simpleforum:post_reply_view' thread_id=instance.thread_id.id parent_id=replies.id %}">
                            <button type="button" value='Reply' class="btn btn-outline-success">Reply</button>
                        </a>
                        {% endif %}
                </footer>
                </small>
            </blockquote>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endif %}

{% if request.user.is_authenticated %}
<h2>Add New comment </h2>
<form method='POST' >
    {% csrf_token %}
    {{ post_comment.as_p }}
    <input type='submit' value='Add New Comment' class="btn btn-outline-success" />
</form>
{% else %}
<p> Please login before adding a new comment</p>
{% endif %}

{% endblock %}