{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p class="alert alert-{{ message.tags }}"> {{ message }}</p>
    {% endfor %}
{% endif %}
<h1> Subforum id {{ get_sub_forum_id }}</h1>
Thread ID | Thread title | Thread created at | Thread updated_at
{% for i in object_list %}

<p>{{ i.id }} | <a href="{% url 'simpleforum:thread_detail_view' id=i.id %}">{{ i.title }} </a> |
    {{ i.created_at }} |{{ i.updated_at }} </p>
        {% empty %}
        <div class="container-fluid">
            <h3> No Thread Exists </h3>
        </div>
{% endfor %}

{% if request.user.is_authenticated %}
<p><a href="{% url 'simpleforum:thread_create_view' sub_forum_id=get_sub_forum_id %}">Create new thread</a> </p>
{% endif %}
{% endblock %}

